@import '~@anthane/core-tokens/dist/scss/index';

.text {
	@include core-text-body;
	margin: 6px 0 0;

	&.success {
		color: var(--core-color-text-success);
	}

	&.information {
		color: var(--core-color-text-information);
	}

	&.warning {
		color: var(--core-color-text-warning);
	}

	&.error {
		color: var(--core-color-text-error-default);
	}
}
