@import '~@anthane/core-tokens/dist/scss/index';

.headline {
	&.XXLarge {
		font-size: 96px;
	}

	&.XLarge {
		font-size: 86px;
	}

	&.Large {
		font-size: 76px;
	}

	&.Medium {
		font-size: 66px;
	}

	&.Small {
		font-size: 56px;
	}

	&.XSmall {
		font-size: 46px;
	}
}
