@import '~@anthane/core-tokens/dist/scss/index';

.button {
	@include core-text-button;
	border: 0;
	border-radius: 3em;
	cursor: pointer;
	padding: 10.5px 20px;
	border-radius: 4px;
	user-select: none;

	&.contained {
		color: var(--core-color-text-default);
		background: var(--core-color-action-primary-default);

		&.primary {
			background-color: var(--core-color-action-primary-default);

			&.disabled {
				background-color: var(--core-color-action-primary-disabled);
				opacity: 50%;
			}
		}

		&.secondary {
			background-color: var(--core-color-action-secondary-default);
			color: var(--core-color-action-on-interactive);

			&.disabled {
				background-color: var(--core-color-action-secondary-disabled);
				opacity: 50%;
			}
		}

		&.destructive {
			background-color: var(--core-color-action-error-default);
			color: var(--core-color-action-on-error);

			&.disabled {
				background-color: var(--core-color-action-error-disabled);
				background-color: var(--core-color-action-error-disabled);
				opacity: 50%;
			}
		}

		&:hover {
			background: var(--core-color-action-primary-hovered);
		}

		&:focus {
			box-shadow: 0 0 0 0.1rem var(--core-color-action-on-interactive);
		}
	}

	&.outlined {
		color: var(--core-color-text-default);
		background: transparent;

		&.primary {
			outline: 2px solid var(--core-color-action-primary-default);
		}

		&.secondary {
			outline: 2px solid var(--core-color-action-secondary-default);
		}
	}

	&.icon {
		display: flex;
		align-items: center;

		figure {
			margin: 0 20px 0 0;
		}
	}

	&.text {
		padding: 12px 24px;
	}
}
